<div class="row justify-content-start">
  <div class="col-4 section-squer-main-wrap">
    <div class="d-flex justify-content-center">
        <div class="section-squer-wrap">
          <i class="fas fa-hands-helping section-logo"></i>
        </div>
    </div>
  </div>
  <div class="col-8">
    <div class="d-flex justify-content-center">
      <h1 class="ex-heding">EXPERIENCE.</h1>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-4 col-sm-2 testiomonial-l"></div>
  <div class="col-2 col-sm-1 testiomonial-g"></div>
  <div class="col-4 col-sm-2 testiomonial-l"></div>
</div>
<div class="row justify-content-center pt-5 pb-4">
  <div class="col-12 col-sm-12 col-lg-12 col-xl-10 ex">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10">
        <h1 class="text-center about-me">Resume</h1>
        <h1 class="text-center about-a">Resume</h1>
        <p class="text-left about-intro mt-5 pt-5">
          To fully understand the professional work environment, I was involved in
          four different organizations to gain the maximal and highly necessary
          experience for future challenges.
          <span class="font-weight-bold">Check them out...</span>
        </p>
      </div>
    </div>
    <div class="row justify-content-center mt-4">
      <div class="col-12 col-sm-10 col-lg-5 p-4 ex-mt border ex-mr">
        <h1 class="ex-date">Jan 2020 - Present</h1>
        <h2 class="ex-role">IT Operation Specialist</h2>
        <p class="ex-work"><a href="https://www.exertisglobaloperations.com/" class="text-reset" target="_blank"><i class="fas fa-link"></i></a> Exertis Global Operations</p>
        <div class="ex-dev-support">
          <h4><strong>REPORTING</strong></h4>
          <ul>
            <li>Monitoring health, applications, connectivity, and security for users IT assets via Lansweeper application.</li>
            <li>Update and maintain detailed external and internal IT documentation.</li>
          </ul>
        </div>
        <div class="ex-dev-support">
          <h4><strong>USER SUPPORT</strong></h4>
          <ul>
            <li>Assist with new hire onboarding and training curriculum.</li>
            <li>Respond to queries via email, MS Teams, or Freshservice ticketing system.</li>
          </ul>
        </div>
        <div class="ex-dev-support">
          <h4><strong>SaaS</strong></h4>
          <ul>
            <li>O365 Admin licensing control, SharePoint orchestration, Teams channels collections management.</li>
            <li>vSphere - VM's control and monitoring - Disaster recovery testing.</li>
          </ul>
        </div>
        <div class="ex-dev-support">
          <h4><strong>PROJECTS</strong></h4>
          <ul>
            <li>Troubleshoot IT scripts, systems, or automation.</li>
            <li>Supervising weekly e-commerce store deployments for testing, staging, and production cycles.</li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-sm-10 col-lg-5 p-4 ex-mt border ex-ml">
        <h1 class="ex-date">Apr 2019 - Jan 2020</h1>
        <h2 class="ex-role">Desktop Support Engineer</h2>
        <p class="ex-work"><a href="https://group.bnpparibas/en/" class="text-reset" target="_blank"><i class="fas fa-link"></i></a> BNP Paribas</p>
        <div class="ex-dev-support">
          <h4><strong>REPORTING</strong></h4>
          <ul>
            <li>Stand-up session review and planning for Windows 10 migration project target 600+ users.</li>
            <li>Monitoring Windows 10 pre-build Imaging process and reporting accordingly.</li>
          </ul>
        </div>
        <div class="ex-dev-support">
          <h4><strong>USER SUPPORT</strong></h4>
          <ul>
            <li>Operational efficiencies by streamlining and automating routine work tasks in conjunction with ServiceNow.</li>
            <li>Remote support via Goverlan Reach Console after successful Windows 10 migration.</li>
          </ul>
        </div>
        <div class="ex-dev-support">
          <h4><strong>SaaS</strong></h4>
          <ul>
            <li>SCCM packages installation against SDG user-profile including SAP, Adobe Creative Cloud.</li>
            <li>O365 implementation of advanced Excel macros configuration via CMD interface.</li>
          </ul>
        </div>
        <div class="ex-dev-support">
          <h4><strong>PROJECTS</strong></h4>
          <ul>
            <li>Supervising and managing user HVD profiles migration from Windows 7 to Windows 10.</li>
            <li>Configuring Bloomberg workstation according to company standards and regulatory compliance.</li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-sm-10 col-lg-5 p-4 ex-mt border ex-mr">
        <h1 class="ex-date">Nov 2016 - Apr 2019</h1>
        <h2 class="ex-role">Merchandising Assistant</h2>
        <p class="ex-work"><a href="https://diesel.ie/" class="text-reset" target="_blank"><i class="fas fa-link"></i></a> LEMAP Ltd, Innovation In Fashion</p>
        <p class="ex-achi">
          <span class="font-weight-bold">Construct</span> special new stock labels layout concept
          for faster replenishment process.
        </p>
        <p class="ex-achi">
          <span class="font-weight-bold">Present</span> to higher
          management and develop new email templates for more
          efficient and accurate communication with dependable suppliers.
        </p>
        <p class="ex-achi">
          <span class="font-weight-bold">Declared</span>
            the best employee of the year 2016 according to the online customer
            questionnaire.
        </p>
      </div>
      <div class="col-12 col-sm-10 col-lg-5 p-4 ex-mt border ex-ml">
        <h1 class="ex-date">Jun 2010 - Oct 2016</h1>
        <h2 class="ex-role">Team Lead - Department of Activities</h2>
        <p class="ex-work"><a href="https://www.melia.com/en/home.htm" class="text-reset" target="_blank"><i class="fas fa-link"></i></a> Melia Hotels International</p>
        <p class="ex-achi">
          <span class="font-weight-bold">Implementing</span> a unique and advanced weekly schedule for team members with an impressive result of reduced
          cost by more than 15% on an annual basis.
        </p>
        <p class="ex-achi">
          <span class="font-weight-bold">Ranked</span> in the top 5% of employee performance for 3 years running.
        </p>
        <p class="ex-achi">
          <span class="font-weight-bold">Declared</span> the best employee of the season
          2014 according to the criteria of booking.com.
        </p>
      </div>
    </div>
    <div class="row justify-content-center mt-4 ">
      <div class="col-6 text-center">
        <form action ="downloads/Tomislav Sokac_CV.pdf" method="get" target="_blank">
          <button type="submit" class="face-btn">
            <div class="face-button">
              <div class="face-primary">
                <span class="icon fas fa-cloud"></span> Download
              </div>
              <div class="face-secondary">
                <span class="icon far fa-hdd"></span> Size: 30 kt
              </div>
          </div>
        </button>
        </form>
      </div>
    </div>
</div>
</div>