<div class="row justify-content-start border-top">
  <div class="col-3">
    <div class="d-flex justify-content-center">
        <div class="section-squer-wrap">
          <i class="fas fa-tasks section-logo"></i>
        </div>
    </div>
  </div>
  <div class="col-9">
    <div class="d-flex justify-content-center">
      <h1 class="ex-heding">PROJECTS.</h1>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-1 testiomonial-l"></div>
  <div class="col-1 testiomonial-g"></div>
  <div class="col-1 testiomonial-l"></div>
</div>
<div class="row justify-content-center pt-5 pb-4">
  <div class="col-sm col-10-lg col-xl-8 skills">
    <div class="row justify-content-center">
      <div class="col-10 text-center">
        <h1 class="footer-c">My Projects</h1>
      </div>
      <div class="col-12 text-center">
        <h1 class="footer-cm">Projects</h1>
      </div>
      <div class="col-sm-10 text-center">
        <p class="footer-intro">
          A final chapter is one scroll down. I'm convinced,
          that the best way to present my abilities is
          with clickable proof.
          <br> <span class="font-weight-bold">Let's go...</span>
        </p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-1 testiomonial-l"></div>
      <div class="col-1 testiomonial-g"></div>
      <div class="col-1 testiomonial-l"></div>
    </div>
    <div class="row justify-content-around mt-4">
      <div class="col-sm-8 text-center">
          <h2 class="ex-role">WEB PROJECTS</h2>
      </div>
      <div class="col-sm-6 pro">
        <h2 class="ex-role">New Irish Life | Study Project 2 (Final)</h2>
        <p class="ex-work"><a href="https://newirishlife.herokuapp.com" class="text-reset"
            target="_blank"><i class="fas fa-link"></i> newirishlife.herokuapp.com</a>
        </p>
        <h2 class="ex-date">User Story</h2>
        <p class="ex-achi">
          As a first visitor, I want to be able to view the main content in images so that I can make a quick and precise decision.
        </p>
        <p class="ex-achi">
          As a first-time visitor, I want to be able to load each section from the main menu so that I can Have a feeling for single app UX.
        </p>
        <p class="ex-achi">
          As a first-time visitor, I want to be able to see all product categories 
          so that I can browse products by category choice in the <a href="https://newirishlife.herokuapp.com/products/"><strong>Shop</strong></a> section.
        </p>
        <button class="pro-button" data-toggle="modal" data-target="#NewIrisLife_django">
          Details...
        </button>
        <button class="pro-button">
          <a href="https://newirishlife.herokuapp.com" target="_blank">"LIVE"...</a>
        </button>
        <div class="modal fade" id="NewIrisLife_django" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
          aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="ex-role">New Irish Life | Study Project 2 (Final)</h2>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                  <div class="row justify-content-center">
                    <div class="col text-center">
                      <img src="public/images/m4.png" class="img-fluid" alt="New Irish Life M3">
                    </div>
                    <div class="col-12 my-3">
                      <div class="row justify-content-center">
                        <div class="col-1 testiomonial-l"></div>
                        <div class="col-1 testiomonial-g"></div>
                        <div class="col-1 testiomonial-l"></div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="row">
                        <div class="col-sm-6 app-border">
                          <h2 class="ex-role text-center">Languages/API</h2>
                          <div class="row">
                            <div class="col-6">
                              <p class="tools-app">HTML5</p>
                              <p class="tools-app">CSS/SASS</p>
                              <p class="tools-app">Django</p>
                              <p class="tools-app">JavaScript</p>
                              <p class="tools-app">Flask</p>
                              <p class="tools-app">Bootstrap</p>
                            </div>
                            <div class="col-6">
                              <p class="tools-app">Google Maps API</p>
                              <p class="tools-app">Email JS API</p>
                              <p class="tools-app">Stripe API</p>
                              <p class="tools-app">AWS S3</p>
                              <p class="tools-app">Heroku</p>
                              <p class="tools-app">Jasmine (Testing)</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <h2 class="ex-role text-center">Applications</h2>
                          <div class="row">
                            <div class="col-6">
                              <p class="tools-app">Photoshop</p>
                              <p class="tools-app">Illustrator</p>
                              <p class="tools-app">Visual Studio Code</p>
                              <p class="tools-app">Balsamiq</p>
                              <p class="tools-app">Grammarly APP</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-10 text-center">
                      <a href="https://github.com/tsokac2/newirishlife" target="_blank"><strong>GitHub - Project Docs</strong></a>
                    </div>
                    <div class="col-10 my-3">
                      <div class="row justify-content-center">
                        <div class="col-1 testiomonial-l"></div>
                        <div class="col-1 testiomonial-g"></div>
                        <div class="col-1 testiomonial-l"></div>
                      </div>
                    </div>
                    <div class="col-sm-8">
                      <div class="row justify-content-center">
                        <div class="col-8 text-center">
                          <a class="face-button" href="https://newirishlife.herokuapp.com" target="_blank">
                            <div class="face-primary">
                              <span class="icon fas fa-level-up-alt"></span> Live
                            </div>
                            <div class="face-secondary">
                              <span class="icon far fa-eye"></span> View
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer text-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 pro">
        <h2 class="ex-role">New Irish Life | Study project 1</h2>
        <p class="ex-work"><a href="http://new-irish-life-3-0.herokuapp.com/home"
            target="_blank"><i class="fas fa-link"></i> new-irish-life-3-0.herokuapp.com</a>
        </p>
        <h2 class="ex-date">User Story</h2>
        <p class="ex-achi">
           By frequently referring to New Irish Life content, I want to have the ability to create my profile for full New Irish Life usage.
        </p>
        <p class="ex-achi">
            In the <a href="http://new-irish-life-3-0.herokuapp.com/registration" target="_blank"><strong>Sign Up</strong></a> process, I want to have the ability to register with my Username, Email, and password strength of my choice. 
        </p>
        <p class="ex-achi">
          As an active user, I want to have the choice to create 
            <a href="http://new-irish-life-3-0.herokuapp.com/tips" target="_blank"><strong>Tips</strong></a> from my experience living in Ireland.
        </p>
        <button class="pro-button" data-toggle="modal" data-target="#NewIrisLife_monogDb">
          Details...
        </button>
        <button class="pro-button pro-btn-live">
          <a href="http://new-irish-life-3-0.herokuapp.com/home" target="_blank">"LIVE"...</a>
        </button>
        <div class="modal fade" id="NewIrisLife_monogDb" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
          aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="ex-role">New Irish Life | Study project 1</h2>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                  <div class="row justify-content-center">
                    <div class="col text-center">
                      <img src="public/images/m3.png" class="img-fluid" alt="New Irish Life M3">
                    </div>
                    <div class="col-12 my-3">
                      <div class="row justify-content-center">
                        <div class="col-1 testiomonial-l"></div>
                        <div class="col-1 testiomonial-g"></div>
                        <div class="col-1 testiomonial-l"></div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="row">
                        <div class="col-sm-6 app-border">
                          <h2 class="ex-role text-center">Languages/API</h2>
                          <div class="row">
                            <div class="col-6">
                              <p class="tools-app">HTML5</p>
                              <p class="tools-app">CSS/SASS</p>
                              <p class="tools-app">Python</p>
                              <p class="tools-app">Flask</p>
                              <p class="tools-app">Bootstrap</p>
                            </div>
                            <div class="col-6">
                              <p class="tools-app">Google Maps API</p>
                              <p class="tools-app">Email JS API</p>
                              <p class="tools-app">MongoDB</p>
                              <p class="tools-app">Heroku</p>
                              <p class="tools-app">Jasmine (Testing)</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <h2 class="ex-role text-center">Applications</h2>
                          <div class="row">
                            <div class="col-6">
                              <p class="tools-app">Photoshop</p>
                              <p class="tools-app">Illustrator</p>
                              <p class="tools-app">Visual Studio Code</p>
                              <p class="tools-app">Balsamiq</p>
                              <p class="tools-app">Grammarly APP</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-10 text-center">
                      <a href="https://github.com/tsokac2/newIrishLife.3.0" target="_blank"><strong>GitHub - Project Docs</strong></a>
                    </div>
                    <div class="col-10 my-3">
                      <div class="row justify-content-center">
                        <div class="col-1 testiomonial-l"></div>
                        <div class="col-1 testiomonial-g"></div>
                        <div class="col-1 testiomonial-l"></div>
                      </div>
                    </div>
                    <div class="col-sm-8">
                      <div class="row justify-content-center">
                        <div class="col-8 text-center">
                          <a class="face-button" href="http://new-irish-life-3-0.herokuapp.com/home" target="_blank">
                            <div class="face-primary">
                              <span class="icon fas fa-level-up-alt"></span> Live
                            </div>
                            <div class="face-secondary">
                              <span class="icon far fa-eye"></span> View
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer text-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 pro">
        <h2 class="ex-role">Nexter | Your home, your freedom</h2>
        <p class="ex-work"><a href="https://res-nexter.herokuapp.com/" class="text-reset"
            target="_blank"><i class="fas fa-link"></i> res-nexter.herokuapp.com</a>
        </p>
        <h2 class="ex-date">OBJECTIVE</h2>
        <p class="ex-achi">
          <span class="font-weight-bold">Using</span>combination of advance CSS Grid by
          Node.js partials implementation in a single project scop
        </p>
        <p class="ex-achi">
          <span class="font-weight-bold">Project</span>
          is ready for real-world adjustment and expanding of layout and sub-pages.
        </p>
        <p class="ex-achi">
          <span class="font-weight-bold">Fully</span>
          responsive to any device/screen and ready for property
          business implementation and branding.
        </p>
        <button class="pro-button" data-toggle="modal" data-target="#Nexter">
          Details...
        </button>
        <button class="pro-button">
          <a href="https://res-nexter.herokuapp.com/" target="_blank">"LIVE"...</a>
        </button>
        <div class="modal fade" id="Nexter" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
          aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="ex-role">Nexter | Your home, your freedom</h2>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                  <div class="row justify-content-center">
                    <div class="col text-center">
                      <img src="public/images/nexter.png" class="img-fluid" alt="Trillo">
                    </div>
                    <div class="col-12 my-3">
                      <div class="row justify-content-center">
                        <div class="col-1 testiomonial-l"></div>
                        <div class="col-1 testiomonial-g"></div>
                        <div class="col-1 testiomonial-l"></div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="row">
                        <div class="col-sm-6 app-border">
                          <h2 class="ex-role text-center">Languages/API</h2>
                          <div class="row">
                            <div class="col-6">
                              <p class="tools-app">Photoshop</p>
                              <p class="tools-app">Visual Studio Code</p>
                              <p class="tools-app">CMD</p>
                            </div>
                            <div class="col-6">
                              <p class="tools-app">Heroku CLI</p>
                              <p class="tools-app">Grammarly APP</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <h2 class="ex-role text-center">Applications</h2>
                          <div class="row">
                            <div class="col-6">
                              <p class="tools-app">HTML5</p>
                              <p class="tools-app">CSS3/SASS</p>
                              <p class="tools-app">CSS Grid</p>
                              <p class="tools-app">NPM</p>
                            </div>
                            <div class="col-6">
                              <p class="tools-app">Node.js</p>
                              <p class="tools-app">EJS</p>
                              <p class="tools-app">Express</p>
                              <p class="tools-app">Git</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-10 my-3">
                      <div class="row justify-content-center">
                        <div class="col-1 testiomonial-l"></div>
                        <div class="col-1 testiomonial-g"></div>
                        <div class="col-1 testiomonial-l"></div>
                      </div>
                    </div>
                    <div class="col-sm-8">
                      <div class="row justify-content-center">
                        <div class="col-8 text-center">
                          <a class="face-button" href="https://res-nexter.herokuapp.com/" target="_blank">
                            <div class="face-primary">
                              <span class="icon fas fa-level-up-alt"></span> Live
                            </div>
                            <div class="face-secondary">
                              <span class="icon far fa-eye"></span> View
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer text-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 pro">
        <h2 class="ex-role">Natours | For adventurous people...</h2>
        <p class="ex-work"><a href="https://res-natours.herokuapp.com/" class="text-reset"
            target="_blank"><i class="fas fa-link"></i> res-natours.herokuapp.com</a>
        </p>
        <h2 class="ex-date">OBJECTIVE</h2>
        <p class="ex-achi">
          <span class="font-weight-bold">Using</span>combination of advance CSS by 
          Node.js partials implementation in a single project scop
        </p>
        <p class="ex-achi">
          <span class="font-weight-bold">Project</span>
            is ready for real-world adjustment and expanding of layout and sub-pages.
        </p>
        <p class="ex-achi">
          <span class="font-weight-bold">Fully</span>
            responsive to any device/screen and ready for property
          business implementation and branding.
        </p>
        <button class="pro-button" data-toggle="modal" data-target="#Natours">
          Details...
        </button>
        <button class="pro-button">
          <a href="https://res-natours.herokuapp.com/" target="_blank">"LIVE"...</a>
        </button>
        <div class="modal fade" id="Natours" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
          aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="ex-role">Natours | Natours | For adventurous people...</h2>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                  <div class="row justify-content-center">
                    <div class="col text-center">
                      <img src="public/images/natours.png" class="img-fluid" alt="Georgia">
                    </div>
                    <div class="col-12 my-3">
                      <div class="row justify-content-center">
                        <div class="col-1 testiomonial-l"></div>
                        <div class="col-1 testiomonial-g"></div>
                        <div class="col-1 testiomonial-l"></div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="row">
                        <div class="col-sm-6 app-border">
                          <h2 class="ex-role text-center">Languages/API</h2>
                          <div class="row">
                            <div class="col-6">
                              <p class="tools-app">HTML5</p>
                              <p class="tools-app">CSS3/SASS</p>
                              <p class="tools-app">NPM</p>
                            </div>
                            <div class="col-6">
                              <p class="tools-app">Node.js</p>
                              <p class="tools-app">EJS</p>
                              <p class="tools-app">Express</p>
                              <p class="tools-app">Git</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6 ">
                          <h2 class="ex-role text-center">Applications</h2>
                          <div class="row">
                            <div class="col-6">
                              <p class="tools-app">Photoshop</p>
                              <p class="tools-app">Visual Studio Code</p>
                              <p class="tools-app">CMD</p>
                            </div>
                            <div class="col-6">
                              <p class="tools-app">Heroku CLI</p>
                              <p class="tools-app">Grammarly APP</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-10 my-3">
                      <div class="row justify-content-center">
                        <div class="col-1 testiomonial-l"></div>
                        <div class="col-1 testiomonial-g"></div>
                        <div class="col-1 testiomonial-l"></div>
                      </div>
                    </div>
                    <div class="col-sm-8">
                      <div class="row justify-content-center">
                        <div class="col-8 text-center">
                          <a class="face-button" href="https://res-natours.herokuapp.com/" target="_blank">
                            <div class="face-primary">
                              <span class="icon fas fa-level-up-alt"></span> Live
                            </div>
                            <div class="face-secondary">
                              <span class="icon far fa-eye"></span> View
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer text-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 pro">
        <h2 class="ex-role">"Georgia" | Restaurant</h2>
        <p class="ex-work"><a href="https://res-georgia.herokuapp.com/"
          class="text-reset" target="_blank"><i class="fas fa-link"></i> res-georgia.herokuapp.com</a>
        </p>
        <h2 class="ex-date">OBJECTIVE</h2>
        <p class="ex-achi">
          <span class="font-weight-bold">Summing</span>
            up top development skills set in to "live" web-base-app/site.
        </p>
        <p class="ex-achi">
          <span class="font-weight-bold">Project</span>
          is fully responsive for any device/screen and ready
          for hospitality business implementation and branding.
        </p>
        <button class="pro-button"
          data-toggle="modal" data-target="#Georgia">
          Details...
        </button>
        <button class="pro-button">
            <a href="https://res-georgia.herokuapp.com/" target="_blank">"LIVE"...</a>
        </button>
        <div class="modal fade" id="Georgia" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="ex-role">"Georgia" | Restaurant</h2>
              </div>
                <div class="modal-body">
                  <div class="container-fluid">
                    <div class="row justify-content-center">
                    <div class="col text-center">
                        <img src="public/images/georgia.png" class="img-fluid" alt="Georgia">
                    </div>
                    <div class="col-12 my-3">
                      <div class="row justify-content-center">
                        <div class="col-1 testiomonial-l"></div>
                        <div class="col-1 testiomonial-g"></div>
                        <div class="col-1 testiomonial-l"></div>
                      </div>
                    </div>
                      <div class="col-12">
                        <div class="row">
                          <div class="col-sm-6 app-border">
                            <h2 class="ex-role text-center">Languages/API</h2>
                            <div class="row">
                              <div class="col-6">
                                <p class="tools-app">Photoshop</p>
                                <p class="tools-app">Atom</p>
                                <p class="tools-app">Visual Studio Code</p>
                              </div>
                              <div class="col-6">
                                <p class="tools-app">CMD</p>
                                <p class="tools-app">Heroku CLI</p>
                                <p class="tools-app">Grammarly APP</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <h2 class="ex-role text-center">Applications</h2>
                            <div class="row">
                              <div class="col-6">
                                <p class="tools-app">HTML5</p>
                                <p class="tools-app">CSS3/SASS</p>
                                <p class="tools-app">Bootstrap 4.3</p>
                                <p class="tools-app">jQuery</p>
                              </div>
                              <div class="col-6">
                                <p class="tools-app">Node.js</p>
                                <p class="tools-app">EJS</p>
                                <p class="tools-app">Express</p>
                                <p class="tools-app">Git</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-10 my-3">
                        <div class="row justify-content-center">
                          <div class="col-1 testiomonial-l"></div>
                          <div class="col-1 testiomonial-g"></div>
                          <div class="col-1 testiomonial-l"></div>
                        </div>
                      </div>
                      <div class="col-sm-8">
                        <div class="row justify-content-center">
                          <div class="col-8 text-center">
                            <a class="face-button" href="http://res-georgia.herokuapp.com/" target="_blank">
                              <div class="face-primary">
                                <span class="icon fas fa-level-up-alt"></span> Live
                              </div>
                              <div class="face-secondary">
                                <span class="icon far fa-eye"></span> View
                              </div>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer text-center">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 pro">
        <h2 class="ex-role">New Ireland Life | Travel Guide</h2>
        <p class="ex-work"><a href="http://www.newirelandlife.com/"
          class="text-reset" target="_blank"><i class="fas fa-link"></i> newirelandlife.com</a>
        </p>
        <h2 class="ex-date">OBJECTIVE</h2>
        <p class="ex-achi">
          <span class="font-weight-bold">See in to,</span> write, web-format and publish
          a unique Irish manual travel guide.
        </p>
        <p class="ex-achi">
          <span class="font-weight-bold">Main concentration</span>
          ,market and language centralization to Croatian audience.
        </p>
        <button class="pro-button"
          data-toggle="modal" data-target="#exampleModalScrollableNewIreland">
          Details...
        </button>
        <button class="pro-button">
            <a href="http://www.newirelandlife.com/" target="_blank">"LIVE"...</a>
        </button>
        <div class="modal fade" id="exampleModalScrollableNewIreland" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="ex-role">Irish Travel Guide</h2>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                 <div class="row justify-content-center">
                  <div class="col text-center">
                      <img src="public/images/new_ireland.png" class="img-fluid" alt="New Ireland">
                  </div>
                  <div class="col-12">
                    <div class="row">
                      <div class="col-sm-6 app-border">
                        <h2 class="ex-role text-center">Languages/API</h2>
                        <div class="row">
                          <div class="col-6">
                            <p class="tools-app">HTML5</p>
                            <p class="tools-app">CSS3</p>
                            <p class="tools-app">Bootstrap 3.4</p>
                          </div>
                          <div class="col-6">
                            <p class="tools-app">jQuery</p>
                            <p class="tools-app">JavaScript</p>
                            <p class="tools-app">Angular JS</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <h2 class="ex-role text-center">Applications</h2>
                        <div class="row">
                          <div class="col-6">
                            <p class="tools-app">Photoshop</p>
                            <p class="tools-app">Illustrator</p>
                            <p class="tools-app">InDesign</p>
                          </div>
                          <div class="col-6">
                            <p class="tools-app">Atom</p>
                            <p class="tools-app">FileZilla</p>
                            <p class="tools-app">Grammarly APP</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                    <div class="col-10 my-3">
                      <div class="row justify-content-center">
                       <div class="col-1 testiomonial-l"></div>
                       <div class="col-1 testiomonial-g"></div>
                       <div class="col-1 testiomonial-l"></div>
                      </div>
                    </div>
                    <div class="col-sm-8">
                      <div class="row justify-content-center">
                        <div class="col-8 text-center">
                          <a class="face-button" href="http://www.newirelandlife.com" target="_blank">
                            <div class="face-primary">
                              <span class="icon fas fa-level-up-alt"></span> Live
                            </div>
                            <div class="face-secondary">
                              <span class="icon far fa-eye"></span> View
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                   </div>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>
</div>