<div class="row justify-content-start border-top">
  <div class="col-3">
    <div class="d-flex justify-content-center">
        <div class="section-squer-wrap">
          <i class="fas fa-tools section-logo"></i>
        </div>
    </div>
  </div>
  <div class="col-9">
    <div class="d-flex justify-content-center">
      <h1 class="ex-heding">SKILLS.</h1>
    </div>
  </div>
</div>

<div class="row justify-content-center">
 <div class="col-1 testiomonial-l"></div>
 <div class="col-1 testiomonial-g"></div>
 <div class="col-1 testiomonial-l"></div>
</div>
<div class="row justify-content-center pt-5 pb-4">
  <div class="col-sm col-10-lg col-xl-8 skills">
    <div class="row justify-content-center">
      <div class="col-10 text-center">
        <h1 class="footer-c">My skills</h1>
      </div>
      <div class="col-12 text-center">
        <h1 class="footer-cm">Skills</h1>
      </div>
      <div class="col-sm-10 text-center">
        <p class="footer-intro">
          Here you can find some of my
          <span class="font-weight-bold">TOP skill-set</span>
          arsenal, suited for most industries.<br>
          <span class="font-weight-bold">Check them out...</span>
        </p>
      </div>
    </div>
    <div class="row justify-content-around mt-4">
      <div class="col-sm-6 mb-4">
        <h1 class="sk-heding text-center m-0">DEVELOPMENT</h1>
        <!-- Bootstrap -->
        <p class="sk-title">Bootstrap Framework</p>
        <div class="pro-bg">
          <div class="high-bar text-center" role="progressbar">90%</div>
        </div>
        
      </div>

      <div class="col-sm-6 mb-4">
        <h1 class="sk-heding text-center m-0">SUPPORT</h1>
        <!-- Photoshop -->
        <p class="sk-title">Photoshop</p>
        <div class="pro-bg">
          <div class="high-bar text-center" role="progressbar">90%</div>
        </div>
        
      </div>
      
      <div class="col-sm-6 mb-4">
        <h1 class="sk-heding text-center m-0">INDUSTRY KNOWLEDGE</h1>
        <p class="sk-title">Project Management</p>
        <p class="sk-title">Digital Marketing</p>
        <p class="sk-title">Marketing Strategy</p>
      </div>
      <div class="col-sm-6">
        <h1 class="sk-heding text-center m-0">INTERPERSONAL SKILLS</h1>
        <p class="sk-title">Organizational Leadership</p>
        <p class="sk-title">Customer Service</p>
        <p class="sk-title">Communication</p>
      </div>
    </div>
  </div>
</div>
